/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-size: 16px; */
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.body-characteristics h1 {
  font-size: clamp(2.4rem, 2vw, 4.0rem);;
}

.body-characteristics p {
  font-size: clamp(1.4rem, 2vw, 2.5rem);;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1 {
  font-family: 'Aurelia';
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #3e3e3e;
}

a {
  color: #3e3e3e;
}

.header {
  background-color: #f2f2f2;
  padding: 5vh 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

header nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: clamp(1.2rem, 2vw, 2.0rem);
}

header nav ul li a:hover {
  text-decoration: underline;
}

.top-title {
  padding-top: 12vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  bottom: 60px;
  width: 100%;
}

.button-rellenar-formulario {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2a694f;
  padding: 14px 24px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: clamp(1.4rem, 2vw, 2.5rem);
}

.button-rellenar-formulario:hover {
  background-color: #1d563b;
  transform: scale(1.02);
}

footer {
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}

/* Styles for the ceremonia section */
.ceremonia, .celebracion {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: left;
}


.ceremonia .text-left, .celebracion .text-right {
  flex: 1;
  padding: 20px;
}

.ceremonia .image-right, .celebracion .image-left {
  flex: 1.2;
  display: flex;
  justify-content: center;
}

.ceremonia .image-right img, .celebracion .image-left img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Grid styles */
.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.column-title {
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.grid-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  list-style-position: inside;
}

.single-grid-item {
  padding: 20px;
  width: 80%;
  margin-top: 20px;
  text-align: center;
}

.grid-item h2 {
  margin: 0 0 10px;
}

.grid-item p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .ceremonia, .celebracion {
      flex-direction: column;
      text-align: center;
  }

  .ceremonia .text-left, .celebracion .text-right,
  .ceremonia .image-right, .celebracion .image-left {
      width: 100%;
      padding: 10px;
  }

  .grid-container {
      grid-template-columns: 1fr;
  }

  header {
      padding: 5vh 5vw;
      flex-direction: column;
      gap: 24px;
  }

  header nav ul {
      flex-direction: column;
      gap: 20px;
  }

  .footer-button-container {
      position: static;
      margin-top: 20px;
      padding: 10px 0;
  }
}

@media (max-width: 600px) {
  header nav ul li a {
    font-size: 1.2rem; /* Ensure a readable size on small screens */
  }
}
